.main-footer {
  color: white;
  background-color: green;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-family: 'quicksand';
  position: absolute;
}
p {
  color: white;
  font-size: 13px;
  font-family: 'quicksand';
}
.container-1 {
  padding-bottom: 10px;
  text-decoration: none;
  line-height: 10px;
}
.container-2 {
  justify-content: space-between;
}

h3 {
  color: white;
}
